<!DOCTYPE html>
<html lang="es" ng-app="Taller.module">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Sorception</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap.min.css", "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Sorception", "Index ", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        Tururu
                    </section>
                    <nav>
                        <ul id="menu">
                            <li><a href="#">Link1</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Sorception</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @RenderSection("scriptsPersonal", required: false)
        @Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js",
                 "~/app/services/tallerService.js",
                 "~/app/directives/tallerDirective.js",
                 "~/app/controllers/tallerController.js")
    </body>
</html>
