@model List<AdminManager.ServiceAdmin.Taller>

@{
    ViewBag.Title = "Talleres";
}
@section featured {
    
}
<h2>Gestor de talleres</h2>
<p>Desde aquí puede gestionar los talleres del sistema</p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Deguaces registrados</div>
    <div class="alert alert-success" id="succes" style="display: none;">Datos modificados correctament</div>
    <div class="alert alert-danger" id="error" style="display: none;">Error al modificar los datos</div>
  <!-- Table -->
  <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Fecha de registro</th>
              <th>Activo</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
              @foreach (var item in Model)
                {
                    <tr id="row@(item.Id)">
                      <td>@item.Id</td>
                      <td>@item.name</td>
                      <td>@DateTime.Today</td>
                      <td>
                        <div class="btn-group" data-toggle="buttons" >
                            <label class="btn btn-default @(item.active ? "active" : "")">
                                <input type="radio" name="options1@(item.Id)" id="option1@(item.Id)" value="true" onchange="changeStatus($(this),@item.Id)"> On
                            </label>
                            <label class="btn btn-default @(item.active ? "" : "active")">
                            <input type="radio" name="options2@(item.Id)" id="option2@(item.Id)"  value="false" onchange="changeStatus($(this),@item.Id)"> Off
                            </label>
                        </div>
                      </td>
                      <td>
                          <button type="button" class="btn btn-default">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>

                      </td>
                    </tr>
                }
          </tbody>
        
  </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
@section ScriptsPersonal {
    @Scripts.Render("~/Scripts/talleres.js")
}